h1= title
p In a day trip, suppose

p A spent $
    input(type='number', min='0', max='99', value= expenses[0])
    | for Dinner
p B spent $
    input(type='number', min='0', max='99', value= expenses[1])
    | for Lunch
p C spent $
    input(type='number', min='0', max='99', value= expenses[2])
    | for Beer
p D spent $
    input(type='number', min='0', max='99', value= expenses[3])
    | for Gas
br
p Total expense $
  span#total
br
p Who owes who for how much??
br
p Naive Solution 
  i
    small (split the each bill by the number of people)
table
  tr
    td.legend
    td.legend A
    td.legend B
    td.legend C
    td.legend D
  tr
    td A owes
    td $
      span#naive00
    td $
      span#naive01
    td $
      span#naive02
    td $
      span#naive03
  tr
    td B owes
    td $
      span#naive10
    td $
      span#naive11
    td $
      span#naive12
    td $
      span#naive13
  tr
    td C owes
    td $
      span#naive20
    td $
      span#naive21
    td $
      span#naive22
    td $
      span#naive23
  tr
    td D owes
    td $
      span#naive30
    td $
      span#naive31
    td $
      span#naive32
    td $
      span#naive33
br
p 
  b TabThat Solution 
    i
      small (minimize the number of transaction)
table
  tr
    td.legend
    td.legend A
    td.legend B
    td.legend C
    td.legend D
  tr
    td A owes
    td $
      span#opt00
    td $
      span#opt01
    td $
      span#opt02
    td $
      span#opt03
  tr
    td B owes
    td $
      span#opt10
    td $
      span#opt11
    td $
      span#opt12
    td $
      span#opt13
  tr
    td C owes
    td $
      span#opt20
    td $
      span#opt21
    td $
      span#opt22
    td $
      span#opt23
  tr
    td D owes
    td $
      span#opt30
    td $
      span#opt31
    td $
      span#opt32
    td $
      span#opt33
