body {
  padding: 0px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/bg.png);
  color: #333;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

h1 {
  line-height: 100px;
  font: 40px Helvetica, sans-serif;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

table {
  color:#333;
  border-collapse: collapse;
  box-shadow: 0px 1px 2px #555;
}
table th {
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
  background-color: #fff;
}
.legend {
  background: -webkit-linear-gradient(
    90deg,
    #e7e7e7,
    #f7f7f7
  );
}
input {
  width: 48px;
  margin: 0px 4px;
  border-style: none;
  border-width: 0px;
  box-shadow: -1px -1px 1px #555;
  font-size: 16px;
}
